@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@font-face {
  font-family: "grold";
  src: url(./FontsFree-Net-Fontspring-DEMO-grold-bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  font-family: "grold";
}

nav .bar {
  position: absolute;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  top: 0;
  background-color: white;
  z-index: 1000;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 120%;
  padding: 38px 27px;
}

nav .bar .bar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .bar .bar-logo h1 {
  margin-bottom: 39px;
  font-size: 18px;
}

nav .bar .bar-logo .buttonX {
  margin-bottom: 39px;
  border: none;
  display: block;
  font-size: 29px;
  color: #777777;
  background-color: #FFFFFF;
}

nav .bar .bar-nextline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .bar .bar-nextline p {
  font-size: 12px;
  color: #0066FF;
}

nav .bar .bar-nextline .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .bar .bar-nextline .container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

nav .bar .bar-nextline .container .btn h2 {
  font-size: 12px;
}

nav .bar .bar-nextline .container .btn .toggle-btn {
  width: 30px;
  height: 5px;
  background: #E5E5E5;
  border-radius: 30px;
  padding: 5px;
}

nav .bar .bar-nextline .container .btn .toggle-btn > .inner-circle {
  width: 20px;
  height: 20px;
  margin-top: -7px;
  margin-left: -2px;
  background: #00CE53;
  border-radius: 50%;
}

nav .bar .bar-nextline h2 {
  font-size: 12px;
}

nav .bar .box-container {
  display: inline-block;
}

nav .bar .box-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  padding: 10px;
  width: 230px;
  position: relative;
  border: 1px solid #777777;
}

nav .bar .box-container .box p {
  font-size: 12px;
  margin-left: 20px;
}

nav .bar .box-container .box-access {
  padding: 10px;
  width: 230px;
  margin: 40px 0;
  color: #FFFFFF;
  background: #060606;
  text-align: center;
  border: 1px solid #777777;
}

nav .bar .content {
  margin: 10px 0 20px;
}

nav .bar .content h1 {
  font-size: 27px;
  font-weight: 400;
  line-height: 29px;
}

nav .bar .content h1 span {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

nav .bar .image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
}

nav .bar .image img {
  width: 80%;
}

nav .bar .button button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  margin: 30px 0px;
  font-size: 15px;
  width: 100%;
  color: #FFFFFF;
  background: #00CE53;
  border: none;
}

nav .nav-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  margin: 0px;
  height: 59px;
  width: 100%;
}

nav .nav-head .navbar {
  width: 70%;
  margin: 0 -40px;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}

nav .nav-head .navbar .nav-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}

nav .nav-head .navbar .nav-heading h1 {
  padding: 5px 0 0 25px;
  font-size: 42px;
  font-weight: 400;
  font-family: "grold";
}

nav .nav-head .navbar .nav-heading h1 sup {
  font-size: 5px;
  font-weight: 100;
}

nav .nav-head .navbar .nav-heading img {
  padding-top: 15px;
  width: 22px;
  height: 25px;
}

nav .nav-head .navbar-1 {
  width: 30%;
  border-left: 2px solid #E5E5E5;
  margin-right: 30px;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}

nav .nav-head .navbar-1 .nav-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  padding-top: 15px;
}

nav .nav-head .navbar-1 .nav-access h1 {
  font-size: 12px;
  font-weight: 400;
  font-family: "grold";
}

nav .nav-head .navbar-1 .nav-access img {
  width: 24px;
  height: 25px;
  top: 1px;
  left: 1px;
}

section .radio_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .radio_button input {
  display: none;
}

section .radio_button .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
}

section .radio_button .dots label {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid #E5E5E5 3px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

section .radio_button .dots label:hover {
  border: none;
  background: #00CE53;
}

section .content {
  width: 100%;
  font-size: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section .content h3 {
  font-weight: 500;
  margin-top: 10px;
}

section .content h1 {
  font-size: 115px;
  margin-top: -12px;
  letter-spacing: -0.09em;
  background: radial-gradient(95.56% 2173.67% at 3.23% 25.96%, #ff9d29 0%, #ffd600 47.05%, #ff7a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
}

section .content img {
  width: 360px;
  height: 273px;
  margin-top: -48px;
}

section .content p {
  margin-top: 10px;
  color: #777777;
  font-weight: 400;
}

section .content .content_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section .content .content_item i {
  color: #00CE53;
  margin-top: 35px;
  margin-left: 70px;
}

section .content .content_item .content_location {
  display: inline-block;
  margin-right: 100px;
  margin-top: 10px;
}

section .content .content_item p {
  color: #777777;
  font-size: 16px;
  margin-left: -100px;
}

section .content .content_item span {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  color: #00CE53;
}

section .content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  margin: 10px 25px 40px;
  font-size: 15px;
  width: 309px;
  color: #FFFFFF;
  background: #00CE53;
  border: none;
}
/*# sourceMappingURL=subaa.css.map */