
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

$white: #FFFFFF;
$green: #00CE53;
$blue: #0066FF;
$black: #1E1E1E;
$black2: #000000;
$black3: #060606;
$black4: #121212;
$background: #E5E5E5;
$gray: #777777;
$gray2: #C8C8C8;
$gray3: #F2F2F2;
$ft-background: #010101;



@font-face {
  font-family: "grold";
  src: url(./FontsFree-Net-Fontspring-DEMO-grold-bold.ttf);
}
*{
  margin: 0;
  font-family: "grold";
  padding: 0;
}

body{
  background: $white;
  font-family: "grold";
  overflow-x: hidden;
}

.toast-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px;
  color: $white;
  font-size: 11px;
  background: $black3;
  transition: all 1600ms ease;
  .text-contant{
    .box{
      margin-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .line{
        border: 1px solid $green;
        background: $green;
        text-align: center;
        width: 80%;
        padding: 5px 0;
      }
      .setting{
        display: flex;
        gap: 1em;
        margin-top: 5px;
        i{
          color: $blue;
        }
      }
    }
  }
  .close{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-left: 20px;
  }
}
nav{
  .bar{
    display: none;
    position: absolute;
      justify-content: right;
      top: 0;
      background-color: white;
      z-index: 1000;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 90%;
      padding: 38px 27px;
      .bar-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
          margin-bottom: 39px;
          font-size: 18px;
        }
        .buttonX{
          margin-bottom: 39px;
        border: none;
        display: block;
        font-size: 29px;
        color: $gray;
        background-color: $white;
        }
      }
      .bar-nextline{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        p{
          font-size: 12px;
          color: $blue;
        }
        .container{
          display: flex;
          justify-content: space-around;
          align-items: center;
          .btn{
            display: flex;
            gap: 5px;
          h2{
            font-size: 12px;
          }
          .toggle-btn{
            width: 30px;
            height: 5px;
            background: $background;
            border-radius: 30px;
            padding: 5px;
            & > .inner-circle{
              width: 20px;
              height: 20px;
              margin-top: -7px;
              margin-left: -2px;
              background: $green;
              border-radius: 50%;
            }
          }
          }
        }
        h2{
          font-size: 12px;
        }
      }
      .box-container{
        width: 100%;
        display: inline-block;
        .box{
          display: flex;
          margin: 30px 0;
          padding: 10px ;
          width: 100%;
          gap: 1em;
          position: relative;
          border: 1px solid $gray;
          img{
            width: 24px;
            height: 24px;
          }
          input{
            border: none;
            outline: none;
            background: none;
          }
        }
        .box-access{
          padding: 10px ;
          width: 100%;
          margin: 40px 0;
          color: $white;
          background: $black3;
          text-align: center;
          border: 1px solid $gray;
        }
      }
      .content{
        margin: 10px 0 20px;
        h1{
          font-size: 27px;
          font-weight: 400;
          line-height: 29px;
          span{
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
          }
        }
      }
      .image{
        justify-content: center;
        text-align: center;
        
        img{
          width: 161px;
          height: 128px;
        }
      }
      .button{
        button {
          justify-content: center;
          align-items: center;
          padding: 10px 32px;
          margin: 30px 0px 10px;
          font-size: 15px;
          width: 100%;
          color: $white;
          background: $green;
          border: none;
        }
      }
  }   
}

nav{
  .nav-head{
    display: flex;
    justify-content: space-between;
    background: $white;
    border: 2px solid $background;
    margin: 0px;
    height: 59px;
    width: 100%;
    .navbar{
      width: 70%;
      margin: 0 -40px;
      transform: skewX(-30deg);
      .nav-heading{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transform: skewX(30deg);
        h1{
          padding: 5px 0 0 25px;
          font-size: 42px;
          font-weight: 400;
          font-family: "grold";
          sup{
            font-size: 5px;
            font-weight: 100;
          }
        }
        img{
          padding-top: 15px;
          width: 22px;
          height: 25px;
          }
      }
    }
    .navbar-1{
      width: 30%;
      border-left: 2px solid $background;
      margin-right: 30px;
      transform: skewX(-30deg);
      .nav-access{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transform: skewX(30deg);
        padding-top: 15px;
        h1{
          font-size: 12px;
          font-weight: 400;
          font-family: "grold";
        }
        img{
          width: 24px;
          height: 25px;
          top: 1px;
          left: 1px;
        }
      }
    }
  }
}

.home{
  .first-page{
    margin-top: 55px;
    .radios{
      text-align: center;
      margin: 20px 0 0;
      input{
        padding: 20px;
        border: 1px solid $white;
        accent-color: $green;
      }
    }
    .content{
      width: 100%;
      height: 100%;
      h1{
        text-align: center;
        font-size: 54px;
        font-weight: 500;
        background: radial-gradient(
          95.56% 2173.67% at 3.23% 25.96%,
          #ff9d29 0%,
          #ffd600 47.05%,
          #ff7a00 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    
        text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
      }
      h2{
        font-size: 54px;
        font-weight: 500;
        color: $black2;
        text-align: center;
        margin-left: 30px;
        line-height: 20px;
        span{
          background: radial-gradient(
          95.56% 2173.67% at 3.23% 25.96%,
          #ff9d29 0%,
          #ffd600 47.05%,
          #ff7a00 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    
        text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
        }
      }
      p{
        font-size: 15px;
        font-weight: 400;
        color: $gray;
        text-align: center;
        margin-top: 25px;
      }
      h3{
        font-size: 20px;
        font-weight: 400;
        color: $green;
        text-transform: uppercase;
        text-align: center;
        margin-top: 15px;
      }
    }
    .content-item {
      width: 100%;
      position: relative;
      .items{
        display: none;
      }
      .item{
        position: absolute;
        top: 0px;
        right: 0;
        img{
          width: 100%;
        }
      }
      .location {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 18px;
        top: 200px;
        p {
          font-size: 15px;
          color: $gray;
        }
        span {
          font-family: "Kaushan Script", cursive;
          font-size: 30px;
          color: $green;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 32px;
          margin: 90px 25px 5px;
          font-size: 15px;
          width: 80%;
          color: $white;
          background: $green;
          border: none;
        }
      }
    }  
  }
  
  .second-page{
    margin-top: 35px;
    .radios{
      text-align: center;
      margin: 20px 0 0;
      input{
        padding: 20px;
        border: 1px solid $white;
        accent-color: $green;
      }
    }
    .content {
      font-size: 21px;
      align-items: center;
      text-align: center;
      h3 {
        font-weight: 500;
        margin-top: 10px;
      }
      h1 {
        font-size: 115px;
        margin-top: -12px;
        letter-spacing: -0.09em;
        background: radial-gradient(
          95.56% 2173.67% at 3.23% 25.96%,
          #ff9d29 0%,
          #ffd600 47.05%,
          #ff7a00 100%
        );
    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    
        text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
      }
      img {
        width: 100%;
        height: 270px;
        margin: -38px 0 30px;
      }
      p {
        margin-top: 10px;
        color: $gray;
        font-weight: 400;
      }
      .content_item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        img {
          color: $green;
          width: 24px ;
          height: 24px;
          margin-top: 35px;
          margin-left: 70px;
        }
        .content_location {
          display: inline-block;
          margin-right: 100px;
          margin-top: 10px;
        }
        h2 {
          color: $gray;
          font-size: 16px;
          margin-left: -100px;
        }
        span {
          font-family: "Kaushan Script", cursive;
          font-size: 30px;
          color: $green;
        }
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 32px;
        margin: 10px 25px 40px;
        font-size: 15px;
        width: 85%;
        color: $white;
        background: $green;
        border: none;
      }
    }
  }
  .third-page{
      margin-top: 55px;
      .radios{
        text-align: center;
        margin: 20px 0 0;
        input{
          padding: 20px;
          border: 1px solid $white;
          accent-color: $green;
        }
      }
      .content{
        width: 100%;
        height: 100%;
        h1{
          text-align: center;
          font-size: 54px;
          font-weight: 500;
          background: radial-gradient(
            95.56% 2173.67% at 3.23% 25.96%,
            #ff9d29 0%,
            #ffd600 47.05%,
            #ff7a00 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
      
          text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
        }
        h2{
          font-size: 54px;
          font-weight: 500;
          color: $black2;
          text-align: center;
          margin-left: 30px;
          line-height: 20px;
          span{
            background: radial-gradient(
            95.56% 2173.67% at 3.23% 25.96%,
            #ff9d29 0%,
            #ffd600 47.05%,
            #ff7a00 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
      
          text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
          }
        }
        p{
          font-size: 15px;
          font-weight: 400;
          color: $gray;
          text-align: center;
          margin-top: 25px;
        }
        h3{
          font-size: 20px;
          font-weight: 400;
          color: $green;
          text-transform: uppercase;
          text-align: center;
          margin-top: 15px;
        }
      }
      .content-item {
        width: 100%;
        position: relative;
        .items{
          display: none;
        }
        .item{
          position: absolute;
          top: 0px;
          right: 0;
          img{
            width: 100%;
          }
        }
        .location {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 18px;
          top: 200px;
          p {
            font-size: 15px;
            color: $gray;
          }
          span {
            font-family: "Kaushan Script", cursive;
            font-size: 30px;
            color: $green;
          }
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 32px;
            margin: 90px 25px 5px;
            font-size: 15px;
            width: 80%;
            color: $white;
            background: $green;
            border: none;
          }
        }
      }
  }
  .slick-dots{
    position: absolute;
    top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li{
      position: relative;
      display: inline-block;
      margin: 0 2px;
      padding: 0;
      cursor: pointer;
      button{
        cursor: pointer;
        position: relative;
        border: 1px solid $white;
        background-color: $gray2;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        font-size: 0;
      }
    }
  }
}





@media screen and (min-width:400px) {
  .bar{
    display: none;
  }
  .home{
    .second-page{
      .radios{
        display: none;
      }
      .content{
        h3{
          font-size: 40px;
          text-align: left;
          margin-left: 20px;
        }
        h1{
          text-align: center;
          margin-left: 90px;
        }
        img{
          width: 90%;
          padding-left: 30px;
          height: 50vh;
        }
        .content_item{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          i{
            margin: 20px;
          }
          .content_location{
            display: flex;
            gap: 20px;
          }
        }
        button{
          width: 80%;
          margin-left: 50px;
        }
      }
    }
    .third-page{
      .content-item{
        .items{
          display: none;
        }
      }
    }
    .slick-dots{
      li{
        button{
          border: 1px solid $gray2;
          background: $gray2;
          button:hover{
            color: $green;
            background: #00CE53;
          }
        }
      }
    }
  }
}


@media screen and (min-width:600px){
  .home{
    .first-page{
      .content-item{
        .items{
          left: 0;
          display: inline;
        }
        .location{
          justify-content: center;
          align-items: center;
          text-align: center;
          img{
            margin-left: 320px;
          }
          button{
            width: 90%;
            margin-top: 100px;
          }
        }
      }
    }
    .second-page{
      .content{
        h3{
          text-align: center;
        }
        h1{position: absolute;
          margin-top: 60px;
          padding-left: 300px;
        }
        img{
          margin-top: 40px;
          width: 50%;
          padding-left: 30px;
          height: 50vh;
        }
        p{
          text-align: right;
          margin-top: -150px;
          padding-right: 30px;
          margin-bottom: 60px;
        }
        .content-item{
          padding-top: 120px;
          display: grid;
          grid-template-columns: auto;
          h2{
            margin-bottom: 120px;
          }
        }
      }
    }
    .third-page{
      .content-item{
        .items{
          left: 0;
          display: inline;
        }
        .location{
          justify-content: center;
          align-items: center;
          text-align: center;
          button{
            width: 90%;
            margin-top: 200px;
          }
        }
      }
    }
  }
}

@media screen and (min-width:760px){
  .home{
    .first-page{
      .content-item{
        .location{
          img{
            margin-left: 370px;
          }
        }
      }
    }
    .second-page{
      .content{
        h1{position: absolute;
          margin-top: 60px;
          padding-left: 400px;
        }
        }
      }
    }
    .first-page{
      .content-item{
        .location{
          img{
            margin-left: 370px;
          }
        }
      }
    }
  }

@media screen and (min-width:1000px){
    .home{
      .first-page{
        .content-item{
          .location{
            img{
              margin-left: 500px;
            }
          }
        }
      }
      .second-page{
        .content{
          h1{position: absolute;
            margin-top: 60px;
            padding-left: 600px;
          }
          }
        }
      }
      .first-page{
        .content-item{
          .location{
            img{
              margin-left: 500px;
            }
          }
        }
      }
 }

@media screen and (min-width:1120px){
      .home{
        .first-page{
          .content-item{
            .location{
              img{
                margin-left: 710px;
              }
            }
          }
        }
        .second-page{
          .content{
            h1{position: absolute;
              margin-top: 60px;
              padding-left: 800px;
            }
            }
          }
        }
        .third-page{
          .content-item{
            .location{
              img{
                margin-left: 710px;
              }
            }
          }
        }
}