@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

$white: #ffffff;
$green: #00ce53;
$blue: #0066ff;
$black: #1e1e1e;
$black_1: #000000;
$black_2: #060606;
$black_3: #121212;
$background: #e5e5e5;
$grey: #777777;
$grey_1: #c8c8c8;
$grey_2: #f2f2f2;
$fd_page: #010101;
$radio_color: #d8d8d8;

@font-face {
  font-family: "grold";
  src: url(/images/FontsFree-Net-Fontspring-DEMO-grold-bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "grold";
}

.alert_box {
  font-size: 11px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: $black_3;
  color: $grey_1;
  padding: 30px;
  .alert_content {
    p {
      font-size: 11px;
    }
    .alert_accept {
      display: flex;
      margin-top: 20px;
      gap: 10px;

      button {
        font-size: 11px;
        background-color: $green;
        color: $white;
        border: none;
        text-align: center;
        padding: 11px;
        width: 100%;
      }
      .alert_settings {
        display: flex;
        gap: 10px;
        margin-top: 8px;
        margin-left: 8px;
        img {
          width: 20px;
          height: 20px;
        }
        p {
          color: $blue;
          font-size: 11px;
        }
      }
    }
  }
  .alert_close {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;

    .buttonY {
      outline: none;
      background: none;
      border: none;
      font-size: 11px;
      color: $white;
      margin-left: 35px;
    }
    p {
      font-size: 11px;
    }
  }
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
  height: 67px;
  border: 2px solid $background;
}

.deberry_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "grold";
  .deberry {
    img {
      width: 128px;
      height: 46px;
    }
  }
  sup {
    font-size: 10px;
    letter-spacing: 0px;
  }
  img {
    width: 24px;
    height: 24px;
    margin-right: 40px;
  }
}
.skew {
  width: 80%;
  border-left: 2px solid $background;
  margin-right: -50px 30px 0;
  transform: skewX(-30deg);
  .fingerprint {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: skewX(30deg);
    margin-top: 15px;

    img {
      margin-left: 15px;
      width: 24px;
      height: 24px;
    }
    p {
      color: $grey;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

.container-list {
  display: none;
  position: absolute;
  background-color: $white;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  padding: 25px 25px;
  z-index: 10000;

  .container-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;

    h1 {
      font-size: 20px;
      color: $fd_page;
    }
    .buttonX {
      outline: none;
      background: none;
      border: none;
      font-size: 35px;
      color: $grey;
    }
  }

  .credential-access {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    p {
      font-size: 15px;
      color: $blue;
    }

    .email-toggle {
      color: $grey;
      font-size: 8px;
      display: flex;
      gap: 10px;
    }

    .toggle {
      visibility: hidden;
      position: absolute;
      left: 0;
      margin-left: 10px;
    }
    .toggle:checked + .rounder {
      background-color: yellowgreen;
    }
    .toggle:checked + .rounder::after {
      left: 20px;
      transform: translateX(-100%);
      transition: all ease-out 0.2s;
      background-color: #00ce53;
    }
    .rounder {
      display: inline-block;
      width: 16px;
      height: 8px;
      border-radius: 11px;
      background-color: rgb(209, 211, 207);
      cursor: pointer;
      position: relative;
    }
    .rounder::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #00ce53;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 7px;
      top: -1px;
      transform: translateX(-100%);
      transition: all ease-out 0.2s;
    }
  }

  .email-container {
    position: relative;
    width: 100%;
    height: 47px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 18px;
    border: 1px solid $grey_1;
    gap: 25px;
    place-items: center;
    padding: 20px;

    input {
      outline: none;
      border: none;
      background: none;
      margin-left: 40px;
      font-weight: 400;
    }
    img {
      position: absolute;
      width: 24px;
      height: 24px;
    }
  }

  .Password-container {
    position: relative;
    width: 100%;
    height: 47px;
    display: flex;
    margin-bottom: 40px;
    border: 1px solid $grey_1;
    gap: 25px;
    place-items: center;
    padding: 20px;

    input {
      outline: none;
      border: none;
      background: none;
      margin-left: 40px;
      font-weight: 400;
    }
    img {
      position: absolute;
      width: 24px;
      height: 24px;
    }
  }

  .access-btn {
    width: 100%;
    height: 32px;
    background-color: $black_2;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      color: $white;
      border: none;
      outline: none;
      background: none;
      font-size: 12px;
    }
  }

  .pick-up-line {
    margin-bottom: 30px;
    h1 {
      font-size: 27px;
      font-weight: 100;
    }
  }

  img {
    width: 70%;
    height: 160px;
    display: flex;
    margin: auto;
  }

  .account-btn {
    width: 100%;
    height: 32px;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    button {
      font-size: 12px;
      color: $white;
      border: none;
      outline: none;
      background: none;
    }
  }
}
.slider {
  .content {
    color: $black_1;
    font-size: 21px;
    text-align: center;
    h3 {
      font-weight: 400;
      margin-top: 28px;
      font-size: 22px;
    }
    h1 {
      font-size: 116px;
      margin-top: -12px;
      letter-spacing: -0.09em;
      background: radial-gradient(
        95.56% 2173.67% at 3.23% 25.96%,
        #ff9d29 0%,
        #ffd600 47.05%,
        #ff7a00 100%
      );

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
    }
    img {
      width: 360px;
      height: 273px;
      margin-top: -80%;
    }
    p {
      color: $grey;
      font-size: 21px;
      font-weight: 400;
    }
    .content_item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
      margin-left: 100px;
      margin-top: 20px;
      img {
        position: absolute;
        width: 20px;
        height: 23px;
        left: 6px;
        bottom: 30px;
      }
      .content_location {
        display: inline-block;
        margin-top: 10px;
      }
      p {
        color: $grey;
        font-size: 16px;
        margin-left: -60px;
      }
      span {
        font-family: "Kaushan Script", cursive;
        font-size: 30px;
        margin-left: 50px;
        color: $green;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 23px;
      margin-left: 25px;
      margin-top: 22px;
      margin-bottom: 60px;
      font-size: 18px;
      width: 90%;
      color: $white;
      background: $green;
      border: none;
    }
  }

  .content_two {
    text-align: center;
    h1 {
      font-size: 55px;
      letter-spacing: -0.09em;
      margin-top: 31px;

      background: radial-gradient(
        95.56% 2173.67% at 3.23% 25.96%,
        #ff9d29 0%,
        #ffd600 47.05%,
        #ff7a00 100%
      );

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
    }
    h2 {
      letter-spacing: -0.09em;
      margin-left: 40px;
      font-size: 55px;
      line-height: 20px;
      color: $black_1;
      span {
        background: radial-gradient(
          95.56% 2173.67% at 3.23% 25.96%,
          #ff9d29 0%,
          #ffd600 47.05%,
          #ff7a00 100%
        );

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
      }
    }
    h3 {
      color: $grey;
      font-size: 17px;
      margin-top: 30px;
      font-weight: 400;
    }
    h5 {
      color: $green;
      font-size: 20px;
      margin-top: 20px;
    }
  }
  .content2_item {
    width: 100%;
    position: relative;
    .flip-food {
      display: none;
    }
    .item2 {
      img {
        position: absolute;
        width: 300px;
        height: 460px;
        right: 0px;
        top: 0px;
      }
    }

    .content2_location {
      position: absolute;
      text-align: left;
      width: 100%;
      height: 100%;
      left: 18px;
      top: 172px;
      img {
        width: 25px;
        height: 24px;
        bottom: 30px;
      }
      p {
        font-size: 15px;
        color: $grey;
      }
      span {
        font-family: "Kaushan Script", cursive;
        font-size: 30px;
        color: $green;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 32px;
      margin-top: 130px;
      font-size: 18px;
      width: 90%;
      color: $white;
      background: $green;
      border: none;
    }
  }
  .slick-dots {
    position: absolute;
    top: 2px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      position: relative;
      display: inline-block;
      margin: 0 2px;
      padding: 0;
      cursor: pointer;
      button {
        cursor: pointer;
        position: relative;
        border: $grey_1;
        background-color: $grey_1;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        font-size: 0;
      }
    }
  }
  .slick-dots .slick-active button {
    background: $green;
  }
}

@media (min-width: 320px) {
  .slider {
    .media_content {
      img {
        width: 100%;
        height: 90%;
        margin-top: -50px;
      }
      p {
        margin-top: 15px;
      }
    }
  }
}
@media (min-width: 320px) {
  .content2_item {
    .item2 {
      img {
        width: 250px;
        height: 400px;
        margin-top: 10px;
        margin-left: -6px;
      }
    }
  }
}

@media (min-width: 400px) {
  .navbar {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .slider {
    .content {
      h3 {
        font-size: 50px;
        margin-top: 60px;
      }
      h1 {
        font-size: 150px;
        margin-top: -5px;
      }
      img {
        margin: auto;
        width: 80%;
        height: 90%;
      }
      p {
        font-size: 32px;
        margin-top: 55px;
      }
      .content_item {
        img {
          width: 30px;
          height: 35px;
        }
        p {
          margin: auto;
          font-size: 22px;
        }
        span {
          margin: auto;
          margin-left: 40%;
          font-size: 42px;
        }
      }
      button {
        font-size: 25px;
        padding: 10px;
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
      }
    }
  }
}
@media (min-width: 700px) {
  .alert_box {
    .alert_content {
      p {
        font-size: 15px;
      }
    }
  }
  .slider {
    .content_item {
      img {
        width: 30px;
        height: 35px;
        margin-left: 50px;
      }
    }
  }
}
@media (min-width: 900px) {
  .slider {
    .content_item {
      img {
        width: 30px;
        height: 35px;
        margin-left: 100px;
      }
    }
    .slick-dots {
      li {
        button {
          width: 11px;
          height: 11px;
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .slider {
    .content {
      h1 {
        font-size: 230px;
      }
    }
    .media_content {
      display: grid;
      grid-template-columns: 3fr 1fr;
      p {
        margin: auto;
        margin-left: -55px;
      }
    }
    .content_item {
      img {
        margin-left: 22%;
        margin-bottom: -20px;
      }
      button {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (min-width: 740px) {
  .alert_box {
    .alert_content {
      p {
        font-size: 20px;
        width: 100%;
        text-align: justify;
      }
      .alert_accept {
        button {
          width: 30%;
        }
        .alert_settings {
          margin-top: 10px;
          img {
            margin-left: 40px;
          }
        }
      }
    }
  }
  .slider {
    .content_two {
      h1 {
        font-size: 150px;
      }
      h2 {
        font-size: 150px;
      }
      h3 {
        padding: 50px;
        font-size: 30px;
      }
      h5 {
        font-size: 40px;
        letter-spacing: -1px;
      }
      .content2_item {
        margin-top: 50px;
        .flip-food {
          display: inline;
          width: 100%;
          height: 80%;
          left: 0;
        }
        .content2_location {
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-top: 50px;
          img {
            margin-left: 49%;
            margin-bottom: 20px;
          }
        }
        p {
          font-size: 25px;
        }
        span {
          font-size: 50px;
          margin-top: -5px;
        }
        button {
          margin-top: 150px;
          margin-left: 35px;
          font-size: 25px;
          padding: 15px;
        }
      }
    }
  }
}
