@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@font-face {
  font-family: "grold";
  src: url(/images/FontsFree-Net-Fontspring-DEMO-grold-bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "grold";
}

.alert_box {
  font-size: 11px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  background-color: #121212;
  color: #c8c8c8;
  padding: 30px;
}

.alert_box .alert_content p {
  font-size: 16px;
}

.alert_box .alert_content .alert_accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.alert_box .alert_content .alert_accept button {
  font-size: 13px;
  background-color: #00ce53;
  color: #ffffff;
  border: none;
  text-align: center;
  padding: 11px;
  width: 100%;
}

.alert_box .alert_content .alert_accept .alert_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.alert_box .alert_content .alert_accept .alert_settings img {
  width: 20px;
  height: 20px;
}

.alert_box .alert_content .alert_accept .alert_settings p {
  color: #0066ff;
  font-size: 15px;
}

.alert_box .alert_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert_box .alert_close .buttonY {
  outline: none;
  background: none;
  border: none;
  font-size: 25px;
  color: #ffffff;
}

.alert_box .alert_close p {
  font-size: 15px;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1fr;
      grid-template-columns: 2.5fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #c8c8c8;
}

.deberry_nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "grold";
  padding: 0.5em;
}

.deberry_nav h1 {
  font-size: 42px;
  letter-spacing: -0.09em;
}

.deberry_nav sup {
  font-size: 10px;
  letter-spacing: 0px;
}

.deberry_nav img {
  width: 24px;
  height: 24px;
  left: 5%;
  right: 5%;
  top: 4.17%;
  bottom: 33.33%;
}

.fingerprint {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fingerprint img {
  width: 24px;
  height: 24px;
}

.fingerprint p {
  color: #777777;
  font-weight: 400;
  font-size: 14px;
}

.container-list {
  display: none;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  padding: 25px 25px;
  z-index: 10000;
}

.container-list .container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-list .container-title h1 {
  font-size: 20px;
  color: #010101;
}

.container-list .container-title .buttonX {
  outline: none;
  background: none;
  border: none;
  font-size: 35px;
  color: #777777;
}

.container-list .credential-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.container-list .credential-access p {
  font-size: 15px;
  color: #0066ff;
}

.container-list .credential-access .email-toggle {
  color: #777777;
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.container-list .credential-access .toggle {
  visibility: hidden;
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.container-list .credential-access .toggle:checked + .rounder {
  background-color: yellowgreen;
}

.container-list .credential-access .toggle:checked + .rounder::after {
  left: 20px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  background-color: #00ce53;
}

.container-list .credential-access .rounder {
  display: inline-block;
  width: 16px;
  height: 8px;
  border-radius: 11px;
  background-color: #d1d3cf;
  cursor: pointer;
  position: relative;
}

.container-list .credential-access .rounder::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00ce53;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 7px;
  top: -1px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.container-list .email-container {
  position: relative;
  width: 100%;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 18px;
  border: 1px solid #c8c8c8;
  gap: 25px;
  place-items: center;
  padding: 20px;
}

.container-list .email-container input {
  outline: none;
  border: none;
  background: none;
  margin-left: 40px;
  font-weight: 400;
}

.container-list .email-container img {
  position: absolute;
  width: 24px;
  height: 24px;
}

.container-list .Password-container {
  position: relative;
  width: 100%;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  border: 1px solid #c8c8c8;
  gap: 25px;
  place-items: center;
  padding: 20px;
}

.container-list .Password-container input {
  outline: none;
  border: none;
  background: none;
  margin-left: 40px;
  font-weight: 400;
}

.container-list .Password-container img {
  position: absolute;
  width: 24px;
  height: 24px;
}

.container-list .access-btn {
  width: 100%;
  height: 32px;
  background-color: #060606;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-list .access-btn button {
  color: #ffffff;
  border: none;
  outline: none;
  background: none;
  font-size: 12px;
}

.container-list .pick-up-line {
  margin-bottom: 30px;
}

.container-list .pick-up-line h1 {
  font-size: 27px;
  font-weight: 100;
}

.container-list img {
  width: 70%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.container-list .account-btn {
  width: 100%;
  height: 32px;
  background-color: #00ce53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.container-list .account-btn button {
  font-size: 12px;
  color: #ffffff;
  border: none;
  outline: none;
  background: none;
}

.slider .content {
  color: #000000;
  font-size: 21px;
  text-align: center;
}

.slider .content h3 {
  font-weight: 500;
  margin-top: 35px;
}

.slider .content h1 {
  font-size: 115px;
  margin-top: -12px;
  letter-spacing: -0.09em;
  background: radial-gradient(95.56% 2173.67% at 3.23% 25.96%, #ff9d29 0%, #ffd600 47.05%, #ff7a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
}

.slider .content img {
  width: 360px;
  height: 273px;
  margin-top: -48px;
}

.slider .content p {
  color: #777777;
  font-weight: 400;
}

.slider .content .content_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
  margin-left: 100px;
  margin-top: 10px;
}

.slider .content .content_item img {
  position: absolute;
  width: 20px;
  height: 23px;
  left: 20px;
  bottom: 40px;
}

.slider .content .content_item .content_location {
  display: inline-block;
  margin-top: 10px;
}

.slider .content .content_item p {
  color: #777777;
  font-size: 16px;
}

.slider .content .content_item span {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  color: #00ce53;
}

.slider .content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 15px;
  width: 90%;
  color: #ffffff;
  background: #00ce53;
  border: none;
}

.slider .content_two {
  text-align: center;
}

.slider .content_two h1 {
  font-size: 55px;
  letter-spacing: -0.09em;
  margin-top: 20px;
  background: radial-gradient(95.56% 2173.67% at 3.23% 25.96%, #ff9d29 0%, #ffd600 47.05%, #ff7a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
}

.slider .content_two h2 {
  letter-spacing: -0.09em;
  margin-left: 40px;
  font-size: 55px;
  line-height: 20px;
  color: #000000;
}

.slider .content_two h2 span {
  background: radial-gradient(95.56% 2173.67% at 3.23% 25.96%, #ff9d29 0%, #ffd600 47.05%, #ff7a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 1.87736px 13.1415px rgba(182, 182, 182, 0.14);
}

.slider .content_two h3 {
  color: #777777;
  font-size: 17px;
  margin-top: 30px;
  font-weight: 400;
}

.slider .content_two h5 {
  color: #00ce53;
  font-size: 20px;
  margin-top: 20px;
}

.slider .content2_item {
  width: 100%;
  position: relative;
}

.slider .content2_item .flip-food {
  display: none;
}

.slider .content2_item .item2 img {
  position: absolute;
  width: 300px;
  height: 460px;
  right: 0px;
  top: 0px;
}

.slider .content2_item .content2_location {
  position: absolute;
  text-align: left;
  width: 100%;
  height: 100%;
  left: 18px;
  top: 172px;
}

.slider .content2_item .content2_location img {
  width: 25px;
  height: 24px;
  bottom: 30px;
}

.slider .content2_item .content2_location p {
  font-size: 15px;
  color: #777777;
}

.slider .content2_item .content2_location span {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  color: #00ce53;
}

.slider .content2_item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  margin-top: 130px;
  font-size: 15px;
  width: 90%;
  color: #ffffff;
  background: #00ce53;
  border: none;
}

.slider .slick-dots {
  position: absolute;
  top: 2px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slider .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  cursor: pointer;
}

.slider .slick-dots li button {
  cursor: pointer;
  position: relative;
  border: #c8c8c8;
  background-color: #c8c8c8;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  font-size: 0;
}

@media (min-width: 320px) {
  .slider .media_content img {
    width: 100%;
    height: 90%;
    margin-top: 0;
  }
  .slider .media_content p {
    margin-top: 30px;
  }
}

@media (min-width: 320px) {
  .content2_item .item2 img {
    width: 250px;
    height: 400px;
    margin-top: 10px;
    margin-left: -6px;
  }
}

@media (min-width: 400px) {
  .slider .content h3 {
    font-size: 50px;
    margin-top: 60px;
  }
  .slider .content h1 {
    font-size: 150px;
    margin-top: -5px;
  }
  .slider .content img {
    margin: auto;
    width: 80%;
    height: 90%;
  }
  .slider .content p {
    font-size: 32px;
    margin-top: 55px;
  }
  .slider .content .content_item img {
    width: 30px;
    height: 35px;
  }
  .slider .content .content_item p {
    margin: auto;
    font-size: 22px;
  }
  .slider .content .content_item span {
    margin: auto;
    margin-left: 40%;
    font-size: 42px;
  }
  .slider .content button {
    font-size: 25px;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
}

@media (min-width: 700px) {
  .slider .content_item img {
    width: 30px;
    height: 35px;
    margin-left: 50px;
  }
}

@media (min-width: 900px) {
  .slider .content_item img {
    width: 30px;
    height: 35px;
    margin-left: 100px;
  }
}

@media (min-width: 1440px) {
  .slider .content h1 {
    font-size: 230px;
  }
  .slider .media_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .slider .media_content p {
    margin: auto;
    margin-left: -55px;
  }
  .slider .content_item img {
    margin-left: 22%;
    margin-bottom: -20px;
  }
  .slider .content_item button {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 740px) {
  .alert_box .alert_content p {
    font-size: 20px;
    width: 100%;
    text-align: justify;
  }
  .alert_box .alert_content .alert_accept button {
    width: 30%;
  }
  .alert_box .alert_content .alert_accept .alert_settings {
    margin-top: 10px;
  }
  .alert_box .alert_content .alert_accept .alert_settings img {
    margin-left: 40px;
  }
  .slider .content_two h1 {
    font-size: 150px;
  }
  .slider .content_two h2 {
    font-size: 150px;
  }
  .slider .content_two h3 {
    padding: 50px;
    font-size: 30px;
  }
  .slider .content_two h5 {
    font-size: 40px;
    letter-spacing: -1px;
  }
  .slider .content_two .content2_item {
    margin-top: 50px;
  }
  .slider .content_two .content2_item .flip-food {
    display: inline;
    width: 100%;
    height: 80%;
    left: 0;
  }
  .slider .content_two .content2_item .content2_location {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .slider .content_two .content2_item .content2_location img {
    margin-left: 48%;
    margin-bottom: 20px;
  }
  .slider .content_two .content2_item p {
    font-size: 25px;
  }
  .slider .content_two .content2_item span {
    font-size: 50px;
    margin-top: -5px;
  }
  .slider .content_two .content2_item button {
    margin-top: 150px;
    margin-left: 35px;
    font-size: 25px;
    padding: 15px;
  }
}
/*# sourceMappingURL=suganya.css.map */