@import "colors";

@font-face {
  font-family: "grold";
  src: url(fonts/grold/Grold-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: grold;
}
#preloader{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:Black;
    position: fixed;
    z-index: 100;

    .preloader-logo{
        position: absolute;
        align-items: center;
        color: white;
        top: 300px;
        left: 600px;
      

     h1{
         font-size: 80px;
         padding-bottom: 270px;
     }
     sup{
         font-size: 10px;
         padding: 1em;
     }

     p{
         color: white;
         text-align: center;
     }
        
    }

}

.header-container {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  padding: 0.5em;
  place-items: center;
  border-bottom: 1px solid rgb(233, 231, 231);
  
  sup {
    padding: 1em;
    font-size: 7px;
  }

  .header-list a {
    padding: 40px;
    font-size: 17px;
    color: $myBlack;
  }

  .access-container{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      background-color: white;
      align-items: center;
      place-items: center;


    i{
        cursor: pointer;
    }

    .fingerprint{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
}

 span{
   padding: 10px;
 }
  .access-container i{
      font-size: 23px;
  }
}
// slider 
.sliderone{
    width: 100%;
    background-image: url(pics/bcg.jpg);
    background-size: cover;


    h3{
        text-align: center;
        padding: 2em;
    }

}


.sliderone-container{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    
    }

    .slider-vlog {
       
        color: $mygrey;
        
        
        
     .qoutes {
         margin-bottom: 40px;
         font-size: 30px; 
       }
        

     
     .slider-location{
     display: flex;
     place-items: center;
     gap:20px;
     margin-bottom: 50px;
    
     .location-icon i {
        color: $myGreen;
       font-size: 22px;
       }
 
     .location {

       h1{
           color: $myGreen;
           font-size: 35px;
       }

       p{
           color: $mygrey;
           font-size: 18px;
       }
       
     }

     

    }

    button{
        width: 310px;
        height: 40px;
        color: white;
        background-color: $myGreen;
        border: none;
        font-size: 20px;
    }
 
   
}
.slider-title h1{
     font-size: 90px;
     color: $myRedyellow;
  
}